@using CommunityBacklogWebRole.VSOHelpers
@{
    if (VsoHelper.GetActiveUser() == null)
    {
        <a href="javascript:oAuthRequest('/oauth/request', document.getElementById('submitForm'))" target="_blank" class="btn btn-primary">Connect...</a>
    }
    else
    {
        <div data-ng-app>
            <div class="row" data-ng-controller="VsoController">
                <div class="col-md-3 col-xs-6">
                    <label for="vsoAccountdd" class="control-label">Visual Studio Account</label>
                    <select id="vsoAccountdd" name="vsoAccountdd" class="form-control"
                            data-ng-disabled="!accounts" data-ng-model="model.account" data-ng-options="a.accountName for a in accounts"></select>
                    <input type="hidden" name="vsoAccount" value="{{model.account.accountName}}" />
                </div>
                <div class="col-md-3 col-xs-6">
                    <label for="teamProjectdd" class="control-label">Team Project</label>
                    <select id="teamProjectdd" name="teamProjectdd" class="form-control"
                            data-ng-disabled="!projects" data-ng-model="model.project" data-ng-options="p.name for p in projects">
                    </select>
                    <input type="hidden" name="teamProject" value="{{model.project.name}}" />
                </div>
                <div class="col-md-6 col-xs-6">
                    <label for="workItemTypedd" class="control-label">Work Item Type to create</label>
                    <select id="workItemTypedd" name="workItemTypedd" class="form-control"
                            data-ng-disabled="!witypes" data-ng-model="model.witype" data-ng-options="w.name for w in witypes">
                    </select>
                    <input type="hidden" name="workItemType" value="{{model.witype.name}}" />
                </div>
            </div>
        </div>
    }
}
