@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "About Community Backlog";
}

<div class="row">
    <div class="col-md-12">
        <h1>About Community Backlog</h1>
        <p>This tool lets your users choose the backlog for your product.</p>
        <p>It's primary purpose is a demonstration product for developers who want to use the new REST APIs in Visual Studio Online.</p>
    </div>
    <div class="col-md-12">
        <h1>Terms of Service and Privacy Statement</h1>
        <p class="bg-info">
            <span style="font-weight:bold;">tl;dr;</span> This site is for demonstration purposes only. We will not use your information in any way you don't expect.<br />
            We only store an email address and an optional temporary OAuth token from Microsoft. You can manage authorizations on your Visual Studio Online profile page.
        </p>

        <h2>Terms of Service</h2>
        <p>Welcome to the Community Backlog website. Before you begin using the service you must agree to these Terms of Use.</p>
        <p>1. Community Backlog is managed by Damian Brady. Community Backlog is hosted on Microsoft Azure.</p>
        <p>2. Your use of Community Backlog is deemed to be your acceptance of these Terms of Use. Please read them carefully.</p>
        <h3>Lawful Purposes</h3>
        <p>3. You agree to use Community Backlog only for lawful purposes, and in a manner that does not infringe the rights of or restrict or inhibit the use and enjoyment of Community Backlog by any third party. This includes conduct which is unlawful or which may harass or cause distress or inconvenience to any person, the transmission of obscene or offensive content or disruption to Community Backlog.</p>
        <p>4. You must not post or transmit via Community Backlog any unlawful, defamatory, obscene, offensive or scandalous material, or any material that constitutes or encourages conduct that would contravene any law.</p>
        <h3>Disclaimer</h3>
        <p>5. Your use of Community Backlog does not:</p>
        <ul>
            <li>affect or reduce any obligation owed to You by any Agency;</li>
            <li>reduce any obligation You owe to any Agency.</li>
        </ul>
        <p>6. Community Backlog is not a substitute for independent professional advice and you should obtain any appropriate professional advice relevant to Your particular circumstances.</p>
        <h3>Content</h3>
        <p>7. Comments on Community Backlog are provided by, and are the responsibility of, the person or people who made such postings. We do not endorse, support, or guarantee the truthfulness, accuracy, or reliability of any the comments posted on Community Backlog or endorse any of the opinions expressed.</p>
        <p>8. We take reasonable care in linking to other websites but we have no direct control over the content presented in those websites or the availability of those websites.</p>
        <p>9. We make no representation that the material on any linked websites does not infringe the intellectual property rights or any other rights of any person. We do not authorise the reproduction of such material.</p>
        <p>10. We do not endorse or recommend any links to external websites, or third party content, including products and services offered by, from or through those websites or their content.</p>
        <p>11. We do not endorse the content entered by users of this site.</p>
        <h3>Security</h3>
        <p>12. The development and management of Community Backlog is coordinated by us, however some interactions with Community Backlog occur on systems under the control of Microsoft.</p>
        <p>13. The information collected and stored via this site is hosted on Windows Azure and its security is under the control of Microsoft.</p>
        <p>14. We strive to protect comments and information you provide on Community Backlog. We will use all reasonable endeavours to ensure that your comments and information are not compromised. However, we cannot guarantee that no Harmful Code will enter Community Backlog. You should be aware of the risks associated with using websites.</p>
        <p>15. We recommend that you use appropriate and up-to-date firewall and anti-virus software to protect your computer systems.</p>
        <h3>Privacy</h3>
        <p>16. For more information about how we protect your privacy and personal information, please see our Privacy Statement.</p>
        <p>17. In order to participate in, and contribute to, Community Backlog you may be required to register and provide an email address.</p>
        <p>18. We will only use and disclose your personal information to a person, body or other Agency:</p>
        <ul>
            <li>to provide you with a service that you have requested;</li>
            <li>as authorised by law, for example, if a law enforcement authority or court order lawfully directs us to disclose the information of a user.</li>
        </ul>
        <h3>General</h3>
        <p>19. These Terms of Use are governed by appropriate laws of Australia and you agree to submit to the exclusive jurisdiction of the appropriate Australian courts.</p>
        <p>20. If any of these Terms of Use are held to be invalid, unenforceable or illegal for any reason, the remaining Terms of Use will continue in full force.</p>
        <p>21. These Terms of Use do not negate any Terms or Conditions that apply to your use of any other website including Visual Studio Online.</p>
        <p>22. We may revise these Terms and Conditions from time to time.</p>
        <p>23. Please contact us if you have any questions, problems or feedback regarding our site.</p>
        <h3>Definitions</h3>
        <p>Harmful Code – Any form of harmful surreptitious code or other contaminants, including viruses, bugs, trojan horses, spyware or adware.</p>
        <p>You and Your means the user of communitybacklog.com and Community Backlog.</p>
        <p>Our, Us and We means Damian Brady and any other developers with a hand in managing this site.</p>


        <h2>Privacy Policy</h2>
        <p>This following document sets forth the Privacy Policy for the Community Backlog website, communitybacklog.com.</p>
        <p>
            Community Backlog is bound by the Privacy Act 1988 (Crh), which sets out a number of principles concerning the privacy of individuals.
            <h3>Collection of your personal information</h3>
        <p>There are many aspects of the site which can be viewed without providing personal information, however, for access to the main point of the demonstration, you are required to submit personally identifiable information.</p>

        <h3>Sharing of your personal information</h3>
        <p>We will not share your personal information with anyone for any purpose other than management and operation of the site.</p>

        <h3>Use of your personal information</h3>
        <p>This is a demonstration site. We will not use any collected personal information in any previously undisclosed manner.</p>

        <h3>Accessing Your Personal Information</h3>
        <p>
            You have a right to access your personal information, subject to exceptions allowed by law. If you would like a copy of any personal information we hold, please let us know.
            You may be required to put your request in writing for security reasons.
        </p>

        <h3>Contacting us</h3>
        <p>
            If you have any questions or comments about this Privacy Policy and would like further information, please contact me by email at
            <script>document.write('dev'); document.write('@@damia'); document.write('nbrady.com.au');</script>.
        </p>
    </div>
</div>
